/*
#A9F24E - green
#5FF7F6 - blue
#F14F54 - red
#F7E444 - yellow
#FFFFFF - white
#1A1A1A - black
#86E36B - darker green
#F2F2F2

rgb(79, 163, 241); blue happy
*/
body,
html {
  background-color: #a9f24e;
}

.wrapper {
  background-color: #fff;
}
.selected_video {
  display: none;
  margin-top: 50px;
  position: relative;
  padding-bottom: 45.25%;
  display: flex;
  justify-content: center;
}

.selected_video iframe {
  position: absolute;
  width: 80.4%;
  height: 100%;
}

@media only screen and (max-width: 410px) {
  .selected_video {
    padding-bottom: 51%;
  }

  .selected_video iframe {
    position: absolute;
    width: 90%;
    height: 100%;
  }
}

/* Tablet Styles */

@media only screen and (min-width: 411px) and (max-width: 960px) {
}

/* Desktop Styles */

@media only screen and (min-width: 961px) {
}
